@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: inconsolata;
  src: url(../src/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: inter;
  src: url(../src/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: lora;
  src: url(../src/assets/fonts/lora/Lora-VariableFont_wght.ttf);
}
.body-inconsolata {
  font-family: inconsolata;
}

.body-inter {
  font-family: inter;
}

.body-lora {
  font-family: lora;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px clamp(24px, 10vw, 350px);
}

main {
  width: 100%;
}

header {
  display: grid;
  gap: 50px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 26px;
}

.font__control {
  position: relative;
}

.font {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
  font-weight: bold;
}

.option__dropdown {
  position: absolute;
  display: grid;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  z-index: 2;
  width: 183px;
  height: 152px;
  top: 35px;
  right: 0;
}
.option__dropdown button {
  background: none;
  border: none;
  text-align: start;
  padding: 0;
  cursor: pointer;
}
.option__dropdown button:hover {
  color: #a445ed;
}
.option__dropdown .font__name--inconsolata {
  font: bold 18px inconsolata;
}
.option__dropdown .font__name--inter {
  font: bold 18px inter;
}
.option__dropdown .font__name--lora {
  font: bold 18px lora;
}

.option__dropdown--status {
  display: none;
}

.header__line {
  width: 1px;
  height: 32px;
  background-color: #e9e9e9;
}

.theme__controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: block;
}

.toggle__slider {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  border-radius: inherit;
  background-color: #757575;
}

.toggle__slider::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: white;
  transition: 0.3s;
}

#check:focus + .toggle__slider {
  outline: 1px solid blue;
}

#check:checked + .toggle__slider {
  background-color: #a445ed;
}

#check:checked + .toggle__slider::before {
  transform: translateX(20px);
}

#check {
  position: absolute;
  z-index: -2;
  top: 3px;
  left: 50%;
}

form {
  width: 100%;
  height: 64px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
form label {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: text;
}
form input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
form button {
  background: none;
  border: none;
  cursor: pointer;
}

.form--focus {
  border: 1px solid #a445ed;
}

.form--error {
  border: 1px solid #ff5252;
}

.error {
  font-size: 20px;
  color: #ff5252;
}

.error--display {
  display: none;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
  gap: 24px;
}
.notFound__img {
  font-size: 5rem;
  margin-bottom: 10px;
}
.notFound__title {
  font-size: 20px;
  font-weight: bold;
}
.notFound__message {
  color: #757575;
  max-width: 736px;
  text-align: center;
}

.word {
  margin-top: 50px;
  display: grid;
  gap: 30px;
}

.word__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.word__intro__text {
  display: grid;
  gap: 35px;
}
.word__intro h1 {
  font-size: 64px;
  font-weight: bold;
}
.word__intro p {
  font-size: 24px;
  color: #a445ed;
}
.word__intro button {
  background: none;
  border: none;
  cursor: pointer;
}
.word__intro button:hover svg g {
  fill: white;
}
.word__intro button:hover svg circle {
  opacity: 1;
  fill: #a445ed;
}

.poSpeech {
  display: grid;
  gap: 40px;
}
.poSpeech .poSpeech__intro {
  display: flex;
  align-items: center;
  gap: 26px;
}
.poSpeech .poSpeech__line {
  flex: 1;
  height: 1px;
  background-color: #e9e9e9;
}
.poSpeech h2 {
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}
.poSpeech .poSpeech__meaning {
  margin-bottom: 12px;
  color: #757575;
  font-size: 20px;
}
.poSpeech .poSpeech__definitions {
  display: grid;
  gap: 13px;
  list-style: none;
}
.poSpeech .poSpeech__definitions li {
  margin-left: 30px;
}
.poSpeech .poSpeech__definitions li::before {
  content: "•";
  color: #a445ed;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 20px;
}
.poSpeech .poSpeech__definitions span {
  color: #757575;
  margin-left: 16px;
}

.word__source {
  color: #757575;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.word__source a {
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2d2d2d;
}

.word__synonym {
  color: #757575;
  font-size: 20px;
}
.word__synonym a {
  color: #a445ed;
  text-decoration: none;
}
.word__synonym a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */