@font-face {
    font-family: inconsolata;
    src: url(../src/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(../src/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: lora;
    src: url(../src/assets/fonts/lora/Lora-VariableFont_wght.ttf);
}

.body-inconsolata {
    font-family: inconsolata;
}

.body-inter {
    font-family: inter;
}

.body-lora {
    font-family: lora;
}